
processManagement: 
   fork: true 
   pidFilePath: {{mongod_data_dir}}/mongo.pid

net: 
   bindIp: O.0.0.0 
   port: {{mongod_port}} 

storage: 
   dbPath: {{mongod_data_dir}}
   directoryPerDB: true 
   engine: wiredTiger 
   wiredTiger: 
      engineConfig: 
         cacheSizeGB: {{mongo_cache_size}}
         journalCompressor: none 
         directoryForIndexes: false 
      collectionConfig: 
         blockCompressor: zstd 
      indexConfig: 
         prefixCompression: true 
    syncPeriodSecs: 60 

systemLog: 
   destination: file 
   path: {{mongod_log_dir}}/mongo.log  
   logAppend: true 
   logRotate: reopen 

operationProfiling: 
   mode: slowOp
   slowOpThresholeMs: 1000
   rateLimit: 100