

rs.initiate({
    _id: "configRs", 
    configsvr: true, 
    members: [ 
    {% for host in groups['mongoc'] %}
    { _id:{{ loop.index0 }}, host: "{{ host }}:{{ mongoc_port }}"},
    {% endfor %}
    ]
}) 
